[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[core]
    autocrlf = input
    editor = zed --wait
    warnAmbiguousRefs = true
    pager = diff-so-fancy | less --tabs=2 -RFX
[branch]
    autosetuprebase = always
[commit]
    gpgsign = true
[diff]
    algorithm = histogram
[fetch]
    prune = true
    pruneTags = true
[gpg]
    format = ssh
[help]
    autocorrect = prompt
[init]
    defaultBranch = master
    templatedir = ~/.local/share/git/templates
[interactive]
    diffFilter = diff-so-fancy --patch
[merge]
    conflictStyle = zdiff3
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[rebase]
    autosquash = true
[sendemail]
    from = george@mail.dietrich.pub
    smtpserver = smtp.protonmail.ch
    smtpuser = george@mail.dietrich.pub
    smtpencryption = tls
    smtpserverport = 587
[tag]
    forceSignAnnotated = true
[user]
    name = {{ .name }}
    email = {{ .email }}
    signingkey = ~/.ssh/id_ed25519_signing.pub
    useConfigOnly = true
[alias]
    default-branch = !git remote show origin | sed -n '/HEAD branch/s/.*: //p'
    co = checkout
    cmp = "!f() { git commit --all --message \"$@\" && git push; }; f"
    df = diff HEAD
    st = status -sb
    fo = fetch origin
    po = !git pull origin $1
    fco = !git fo && git co $1 && git po $1
    latest = !git fo && git co $(git default-branch) && git pull origin $(git default-branch)
    update = !git fo && git merge origin/$(git default-branch)
    sync   = !git latest && git fetch upstream && git rebase upstream/$(git default-branch)
    unstage = reset --quiet
    cb = !git branch --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" { print $1 }' | xargs -r git branch -D
    l = !git log --all --graph --color --format='%C(auto)%h %d (%ci) %G? %C(auto)%cn <%ce> - %s'
    ls = !git --no-pager l | head --lines=25
    pr = "!f() { if [ $# -lt 1 ]; then echo \"Usage: git pr <id> [<remote>]  # assuming <remote>[=origin] is on GitHub\"; else git checkout -q \"$(git rev-parse --verify HEAD)\" && git fetch -fv \"${2:-origin}\" pull/\"$1\"/head:pr/\"$1\" && git checkout pr/\"$1\"; fi; }; f"
    fixup = "!git log -n 15 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit -a --fixup && git push"

{{ if eq .chezmoi.os "darwin" -}}
[includeIf "gitdir:~/bsmoke/"]
    path = ~/bsmoke/.gitconfig
{{ end -}}
