{{ if .primary -}}
#! /usr/bin/env bash

set -e # -e: exit on error

VERSION='1.14.10'
ARCHIVE_URL="https://github.com/crate-ci/typos/releases/download/v${VERSION}/typos-v${VERSION}-x86_64-unknown-linux-musl.tar.gz"

mkdir -p /tmp/chezmoi/packages/typos && cd $_

curl -S -s -L -o typos.tar.gz $ARCHIVE_URL
tar xzf typos.tar.gz

cp typos $HOME/.local/bin/typos

{{ end -}}
