{{ if eq .chezmoi.hostname "theStone" -}}
#!/bin/bash

set -e # -e: exit on error

# Export the BW_SESSION key if the vault is not already unlocked
if ! $(bw unlock --check); then
  declare -x BW_SESSION=$(bw unlock --raw)
fi

# Only applicable to my main machine
# gnucash-settings.ini hash: {{ include "private_dot_config/gnucash/settings.ini.tmpl" | sha256sum }}
dconf reset -f /org/gnucash/ && cat {{ joinPath .chezmoi.sourceDir "/private_dot_config/gnucash/settings.ini.tmpl" }} | chezmoi execute-template | dconf load /org/gnucash/

bw lock
unset BW_SESSION

{{ end -}}
