{{- $hostname := .chezmoi.fqdnHostname -}}
{{- $email := "dev@dietrich.pub" -}}
{{- $relativeGitDir := promptStringOnce .git "relativeDir" "Where are git repos located" "dev/git"  -}}

{{- /* Parse out machine info based on hostname */ -}}
{{- $isPrimary := eq $hostname "george.personal.desktop" -}}
{{- $isPersonal := contains ".personal." $hostname -}}
{{- $isLaptop := hasSuffix ".laptop" $hostname -}}

{{- /* Fallback on prompts if the hostname is in an unexpected format */ -}}
{{- if and (not $isPersonal) (not (contains ".work." $hostname)) -}}
  {{- $isPersonal = promptBool "Is this a personal machine?" -}}
  {{- $isLaptop = promptBool "Is this a laptop?" -}}
{{- end -}}

format: yaml
diff:
  pager: diff-so-fancy | less --tabs=2 -RFX
edit:
  minDuration: 0
data:
  isPrimary: {{ $isPrimary }}
  isPersonal: {{ $isPersonal }}
  isLaptop: {{ $isLaptop }}
  email: {{ $email | quote }}
  name: 'George Dietrich'
  git:
    relativeDir: {{ $relativeGitDir | quote }}
    absoluteDir: {{ joinPath .chezmoi.homeDir $relativeGitDir | quote }}
