{{- /* Based on https://github.com/twpayne/dotfiles/blob/9da5dc4c90198d7b96bf974afb18c698716abd37/home/.chezmoi.toml.tmpl */ -}}

{{- /* boolean feature tags */ -}}
{{- $primary := false -}}{{/* true if this machine is my daily driver */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}

{{- $email := "dev@dietrich.pub" -}}
{{- $gitDir := "/dev/git" -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq $hostname "george.personal.desktop" -}}
{{-   $primary = true -}}
{{-   $personal = true -}}
{{- else if eq $hostname "georges-MacBook-Pro" -}}
{{-   $personal = true -}}
{{- end -}}

sourceDir: {{ promptString "sourceDir" | quote }}
format: yaml
diff:
  pager: diff-so-fancy | less --tabs=2 -RFX
edit:
  minDuration: 0
data:
  personal: {{ $personal }}
  primary: {{ $primary }}
  hostname: {{ $hostname | quote }}
  email: {{ $email | quote }}
  name: 'George Dietrich'
  git:
    dir: {{ joinPath .chezmoi.homeDir $gitDir | quote }}
