#
# ~/.bash_profile
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

# Configure $EDITOR and $VISUAL
export EDITOR=nano
export VISUAL=subl

# Setup application related ENV vars
export PAGER=less
export LESS='-RMF --mouse'
export LESSHISTFILE='-' # Disable the ~/.lesshst file
export GREP_COLORS='mt=38;5;196'
export GTK_THEME='Breeze-Dark'

# Setup dev related ENV vars
export CC=clang
export CXX=clang

# Explicitly configure XDG vars just to have them
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_BIN_HOME="$HOME/.local/bin"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_RUNTIME_DIR="/run/user/${UID}"

# Configure non XDG compliant apps
# https://wiki.archlinux.org/title/XDG_Base_Directory#Support
export GNUPGHOME="$XDG_DATA_HOME/gnupg"
export INPUTRC="$XDG_CONFIG_HOME/readline/inputrc"
export BUNDLE_USER_CONFIG="$XDG_CONFIG_HOME/bundle"
export BUNDLE_USER_CACHE="$XDG_CACHE_HOME/bundle"
export BUNDLE_USER_PLUGIN="$XDG_DATA_HOME/bundle"
export _JAVA_OPTIONS=-Djava.util.prefs.userRoot="$XDG_CONFIG_HOME/java"

# Custom PATH
PATH="$HOME/.local/bin/:$PATH"

# Place to put stuff local to a specific machine not worth sharing
if [ -r "$HOME/.bash_profile.local" ]; then
    . "$HOME/.bash_profile.local"
fi

{{ if .primary -}}
# https://wiki.archlinux.org/title/GnuPG#Set_SSH_AUTH_SOCK
unset SSH_AGENT_PID
if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
  export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
fi

export PATH="$PATH:/home/george/.local/share/JetBrains/Toolbox/scripts"
{{ end -}}

[ "$BASH_VERSION" -a -z "$POSIXLY_CORRECT" ] && . "$HOME/.bashrc"
