#!/bin/bash

# Only applicable to my main machine
{{- if eq .chezmoi.hostname "theStone" }}
# gnucash-settings.ini hash: {{ include "dot_config/gnucash/settings.ini.tmpl" | sha256sum }}
dconf reset -f /org/gnucash/ && cat {{ joinPath .chezmoi.sourceDir "/dot_config/gnucash/settings.ini.tmpl" }} | chezmoi execute-template | dconf load /org/gnucash/
{{- end }}
