Include config.local

Host *
    AddKeysToAgent yes
    IgnoreUnknown UseKeychain
    IdentitiesOnly yes
    UseKeychain yes
Host github.com
    IdentityFile ~/.ssh/github.ed25519.priv
{{ if .primary -}}
Host aur.archlinux.org
    User aur
    IdentityFile ~/.ssh/aur.ed25519.priv
{{ end -}}
