[Desktop Entry]
Name=GitKraken
Comment=Unleash your repo
GenericName=Git Client
Exec=gitkraken %f --enable-features=UseOzonePlatform --enable-gpu --ozone-platform=wayland
Icon=gitkraken
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Development;RevisionControl;
MimeType=text/plain;
StartupWMClass=gitkraken
